@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.pref-container {
  margin: 40px;
  border-radius: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: linen;
  height: 100vh;
  box-shadow: 1px 1px 11px black;
}

.title {
  margin-top: 100px;
  color: #ac5683;
  // border-color: red;
  font-size: 100px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.quote {
  background-color: #fdf3f4;
  border-width: 15px;
  border: 2px solid #d75c77;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #d75c77;
  border-radius: 10px;
  margin-bottom: 35px;
}

.prefbox {
  border-radius: 5px;
  margin-right: 30px;
  color: #d3d3d3;
}

button {
  align-items: center;
  background-color: #fdf3f4;
  margin-top: 35px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: red;
  color: white;
}
